@tailwind base;
@tailwind components;
@tailwind utilities;

.font-germania-one-regular {
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

@keyframes disappear-width {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.animate-disappear-width {
    animation: disappear-width 4s forwards;
}

@keyframes leave-screen {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.animate-leave-screen {
    animation: leave-screen 1s forwards !important;
}

@keyframes enter-screen {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-enter-screen {
    animation: enter-screen .6s ease-out;
}
