@tailwind base;
@tailwind components;
@tailwind utilities;

.font-germania-one-regular {
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    scroll-behavior: smooth !important;
}
