@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-germania-one-regular {
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}
